<div class="account-menu">
    <form class="account-menu__form" *ngIf="!this.logado">
        <div class="account-menu__form-title">Accede a tu cuenta</div>
        <div class="form-group">
            <label for="header-signin-email" class="sr-only">Correo</label>
            <input id="header-signin-email" type="email" name="email" class="form-control form-control-sm" placeholder="Email (correo)" [(ngModel)]="this.form.email" required>
        </div>
        <div class="form-group">
            <label for="header-signin-password" class="sr-only">Clave</label>
            <div class="account-menu__form-forgot">
                <input id="header-signin-password" type="password" name="password" class="form-control form-control-sm" placeholder="Password" [(ngModel)]="this.form.password" required>
                
            </div>
        </div>
        <div class="form-group account-menu__form-button">
            <button *ngIf="!this.enviando" (click)="onSubmit()" type="button" class="btn btn-primary btn-sm">Acceder</button>
            <button *ngIf="this.enviando" class="btn-sm btn-primary btn-loading"></button>{{ ' ' }}

        </div>
        <div class="account-menu__form-link"><a routerLink="/account/register" (click)="closeMenu.emit()">Registrate!</a></div>
        <div class="account-menu__form-link"><a routerLink="/account/login" (click)="closeMenu.emit()">Olvidaste tu contrasena</a></div>
    </form>
    
    <ng-container *ngIf="this.logado">
        <div class="account-menu__divider"></div>
        <a routerLink="/account/dashboard" class="account-menu__user" (click)="closeMenu.emit()">
            <div class="account-menu__user-avatar">
                <img src="assets/images/avatars/avatar-3.jpg" alt="">
            </div>
            <div class="account-menu__user-info">
                <div class="account-menu__user-name">Helena Garcia</div>
                <div class="account-menu__user-email">stroyka@example.com</div>
            </div>
        </a>
        <div class="account-menu__divider"></div>
        <ul class="account-menu__links">
            <li><a routerLink="/account/profile" (click)="closeMenu.emit()">Edit Profile</a></li>
            <li><a routerLink="/account/orders" (click)="closeMenu.emit()">Order History</a></li>
            <li><a routerLink="/account/addresses" (click)="closeMenu.emit()">Addresses</a></li>
            <li><a routerLink="/account/password" (click)="closeMenu.emit()">Password</a></li>
        </ul>
        <div class="account-menu__divider"></div>
        <ul class="account-menu__links">
            <li style="cursor: pointer;">
                <a (click)="logOut()">Salir <i class="fas fa-power-off" style="color: rgb(223, 66, 66);"></i>
                </a>
            </li>           
        </ul>
    </ng-container>
</div>
