@import '~ngx-toastr/toastr';
@import '~ngx-red-zoom/styles/base.scss';
@import 'scss/style';

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d6e0ec;
  border-radius: 10px;
}
